@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700|Patua+One:100,200,300,400,500,600,700,800,900|Poiret+One:100,200,300,400,500,600,700,800,900|Exo:100,200,300,400,500,600,700');


/*------------------------------------------------------------------------------HEADER LINKS,    START*/
.links {
    font-family: "Poiret One", sans-serif;
    font-weight: 800;
    font-size: 25px;
    margin-top: 25px;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.links:hover {
    text-decoration: none;
    color: #ec822e;
}

.signUpbtn {
    padding: 0;
    background-color: #fff;
    cursor: pointer;
    border: none;
}


/*----------------------------------------------------------------------------HEADER LINKS,    FINISH*/




/*------------------------------------------------------------------------------MODAL,    START*/

.modal-header {
    background-color: #555555;
    border-bottom-color: #ec822e;
}

.modal-body {
    background-color: #555555;
}

#modalLabel {
    font-family: "Poiret One", sans-serif;
    /* text-transform: uppercase; */
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 25px;
}

.close {
    color: #fff;
    text-shadow: none;
}

.close:hover {
    color: #ec822e;
    text-shadow: none;
}

.signUpInfo {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 20px;
    color: #fff;
}


.modal-footer {
    background-color: #555555;
    border-top-color: #ec822e;
}

.btn-primary {
    border-color: #ec822e;
}

.btn-primary:hover {
    border-color: #ec822e;
}


/*------------------------------------------------------------------------------MODAL,    FINISH*/





/*----------------------------------------------------------------TEN 7 TITLE/HOME PAGE LINK,    START*/
.ten7 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 160px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 20px;
    letter-spacing: 10px;
    color: black;
}
    
.ten7:hover{
    color: #ec822e;
}
/*----------------------------------------------------------------TEN 7 TITLE/HOME PAGE LINK,    FINISH*/









/*-------------------------------------------------------------------------------------SUBHEADING,    START*/
.subheading {
    font-family: "Poiret One", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    color: #555555;
}

.hr1{
    width: 75%;
    height: 4px;
    background-color: black;
}

.hr2{
    width: 75%;
    height: 4px;
    background-color: black;
}

/*-------------------------------------------------------------------------------------SUBHEADING,    FINISH*/










/*-------------------------------------------------------------------------------------FORM,    START*/
.center-form {
    max-width: 70%;
    margin: 0 auto;
}

.btn {
    margin: 0 auto;
    background-color: #ec822e;
    color: #fafafa;
}

.btn:hover {
    color: #fff;
    background-color: #FF5B25;
}

/*-----------------------------------------------------------------------------------FORM,    FINISH*/









/*-------------------------------------------------------------------------------------FOOTER,    START*/
.social-links {
    width: 100%;
    font-size: 26px;
    text-align: center;
    padding-bottom: 40px;
}

.fa-facebook:before {
    content: "\f09a";
    color: #3a5b94;
}

.fa-twitter:before {
    color: #00a3ec;
}

.fa-youtube:before {
    color: #f31325;
}
/*-------------------------------------------------------------------------------------FOOTER,    FINISH*/