@import url('https://fonts.googleapis.com/css?family=Open+Sans:|Poiret+One:100,200,300,400,500,600,700,800,900');


body {
    background: url('../images/TheMonkeesBackground2.jpeg') no-repeat center center fixed; 
    background-size: 100% auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}







/*-----------------------------HEADER LINKS (START)------------------------------*/

.nav-colour{
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.navbar {
    padding-top: 20px;
    padding-left: 20px;
}

.navbar-toggler{
    width: 50px;
    height: 40px;
    border-color: rgb(227,227,227, 0.8);
    background-color: rgb(221,221,221, 0.0);
}

.navbar-toggler:focus{
    outline: none !important;
    box-shadow: none;
}

.navbar-toggler:active {
   outline: none !important;
   box-shadow: none;
}


.nav-colour:hover{
    color: #ec822e;
    transition: all .5s ease-in-out;
}




.active {
    color: #ec822e;
}

.signUpbtn {
    color: rgb(227, 227, 227, 0.8);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-color: transparent;
    background-color: transparent;
    margin-left: 0;
}

.signUpbtn:hover{
    color: #ec822e;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.signUpbtn:focus{
    outline: none !important;
    box-shadow: none;
}

/*-----------------------------HEADER LINKS (END)------------------------------*/











/*-----------------------------MODEL (START)------------------------------*/

.modal-header {
    background-color: #555555;
    border-bottom-color: #ec822e;
}

.modal-body {
    background-color: #555555;
}

.modalLabel {
    font-family: "Poiret One", sans-serif;
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 25px;
}

.close {
    color: #fff;
    text-shadow: none;
}

.close:hover {
    color: #ec822e;
    text-shadow: none;
    transition: all .2s ease-in-out;
}

.close:focus{
    outline: none !important;
    box-shadow: none;
}

.signUpInfo {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 20px;
    color: white;
}

.modal-title {
    color: white;
    letter-spacing: 2px;
}

.modal-footer {
    background-color: #555555;
}

.btn-primary {
    border-color: #ec822e;
}

.btn-primary:hover {
    border-color: #ec822e;
}

.btn-primary:focus {
    outline: none !important;
    box-shadow: none;
}

/*-----------------------------MODEL (END)------------------------------*/











/*-----------------------------THE MONKEES TITLE/HOME PAGE LINK (START)------------------------------*/

.theMonkees:hover {
    color: #ec822e;
    transition: all .4s ease-in-out;
    transform: scale(1.01);
    text-decoration: none;
}

.theMonkees {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 10px;
    color: white;
    transition: all .4s ease-in-out;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    display: block;
}



.position{
    text-align: center;
}


/*-----------------------------THE MONKEES TITLE/HOME PAGE LINK (FINISH)------------------------------*/










/*-----------------------------GALLERY (START)------------------------------*/

.containerForPictures {
    padding-top: 70px;
    padding-bottom: 20px;
}

.img1 {
    transition: all ease-in-out .5s;
    padding-left: 10px;
    padding-right: 10px;
}

.img1:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/*put all below styles below in one class; not 3*/


.row1 {
    padding-bottom: 50px;
}

.row2 { 
    padding-bottom: 50px;
}

.row3 {
    padding-bottom: 50px;
}



/*-----------------------------GALLERY (FINISH)------------------------------*/









/*-----------------------------VIDEO (START)------------------------------*/

.video {
    padding-bottom: 120px;
    padding-top: 60px;
}

.video-space {
    padding-bottom: 20px;
    padding-top: 20px;
}

.videoDivider {
    height: 11px;
    width: 12px;
    background-color: white;
    border-radius: 50%;
}

/*-----------------------------VIDEO (END)------------------------------*/








/*-----------------------------AUDIO (START)------------------------------*/


.audioPicture {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 70px;
}

.audioPicSize {
    height: 225px;
    width: 225px;
}

.audioClips {
    padding-top: 50px;
    color: #fff;
}

/*-----------------------------AUDIO (FINISH)------------------------------*/









/*-----------------------------SUBHEADING (START)------------------------------*/

.subheading {
    font-family: "Poiret One", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.hr{
    width: 54%;
    height: 4px;
    background-color: #ec822e;
}

/*-----------------------------SUBHEADING (END)------------------------------*/










/*-----------------------------FORM (START)------------------------------*/

.center-form {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn {
    margin: 0 auto;
    background-color: #ec822e;
    color: #fafafa;
}

.btn:hover {
    color: #fff;
    background-color: #FF5B25;
}

/*-----------------------------FORM (END)------------------------------*/










/*-----------------------------FOOTER (START)------------------------------*/

.social-links {
    width: 100%;
    font-size: 26px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 50px;
    list-style: none;
}

.social-links {
     transition: ease-in-out .5s;
}

.social-links:hover {
    transform: scale(1.3);
}

.fa-facebook:before {
    content: "\f09a";
    color: #3a5b94;
}

.fa-twitter:before {
    color: #00a3ec;
}

.fa-youtube:before {
    color: #f31325;
}

.fa-bars{
    color: rgb(227,227,227, 0.8);
    border-color: rgb(227,227,227, 0.8);
    width: 100%;
    font-size: 25px;
}


/*-----------------------------FOOTER (END)------------------------------*/







/*-----------------------------MEDIA QUERIES (START)-----------------------------*/

@media (min-width: 320px), (max-width: 544px) {
    .social-links {padding: 10px; width: 30%;}
}

@media (max-width: 480px) {
    .nav-link {font-size: 14px; letter-spacing: 10px;}
}

@media (min-width: 320px) {  
  .theMonkees {font-size: 48px;}
  .subheading {font-size: 16px;}
  .hr {width: 54%;}
  .img1{height: 200px; width: 320px;}
}

@media (min-width: 544px) {
  .theMonkees {font-size: 80px;}
  .subheading {font-size: 20px;}
  .hr {width: 54%;}
  .img1{height: 200px; width: 210px;}
}


@media (min-width: 768px) {  
  .theMonkees {font-size: 100px;} 
  .subheading {font-size: 24px;}
  .hr {width: 54%;}
  .img1{height: 225px; width: 250px;}
}
 

@media (min-width: 992px) { 
  .theMonkees {font-size: 110px;}
  .subheading {font-size: 28px;}
  .img1{height: 250px; width: 300px;}
}
 

@media (min-width: 1200px) {  
  .theMonkees {font-size: 110px;}
  .subheading {font-size: 28px;}
  .img1{height: 250px; width: 300px;}
}

/*-----------------------------MEDIA QUERIES (END)-----------------------------*/
